.Rproj.user
.Rhistory
.RData
.Ruserdata
/Data/pilots/Siebe_2025_03_12/Siebe02122025_biopack.txt
/Data/pilots/Siebe_2025_03_12/full_siebe_data.csv
/Data/pilots/Kelly_2025_17_12/kellydone.txt
/Data/pilots/Jesper_2025_17_12/JesperDONE.txt
/Data/Pilots/Jesper_2025_17_12/RDM_reportz_eyetrack_5.asc
/Data/Pilots/Siebe_2025_03_12/RDM_reportz_eyetrack_0.asc
/Data/Pilots/Kelly_2025_17_12/RDM_reportz_eyetrack_3.asc